extends layout

block content
  h1.header= title 
  form(action='/category/create')
    input(type='submit' value='Add category')
  div
    ul 
      each category in category_list 
        li 
          a(href=category.url) #{category.name}