extends layout

block content
  h1= title 

  div
    ul 
      each category in category_list 
        li 
          a(href=category.url) #{category.name}
    h3 Go to:
    div.sideBySideButtons
      form(action='/')
        input(type='submit' value='Home')
      form(action='/item')
        input(type='submit' value='Items')