extends layout 

block content 
  h1.header= title
  div.sideBySideButtons
    form(method='GET' action='/category/' + category.id)
      input(type='submit', required='true', value='Cancel')
    form(method='POST' action='')
      input(type='submit', required='true', value='Delete')
  div 
    if items.length
      p.centerText Delete the following items before deleting the category:
        ul 
          each item in items 
            div.inline
              li= item.name
              form(method='POST' action='/item/' + item.id + '/delete')
                input(type='submit', required='true', value='Delete')
    else
      p.centerText Are you sure you want to delete #{category.name}?

