extends layout

block content
  h1.header= title
  div 
    p.centerText Welcome to the stores update system! There are #{categoryTotal} categories and #{itemTotal} items total. You can create, read, update, and delete anything here.