extends layout

block content
  h1.header= title 
  form(action='/item/create')
    input(type='submit' value='Add item')
  div
    ul 
      each item in item_list 
        li 
          a(href=item.url) #{item.name}