extends layout 

block content
  h1.header= title
  div.sideBySideButtons
    form(method='GET' action='/item/' + item.id)
      input(type='submit', required='true', value='Cancel')
    form(method='POST' action='')
      input(type='submit', required='true', value='Delete')
  div
    p.centerText Are you sure you want to delete #{item.name} from category #{category.name}?