doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div
        a(href='/category') Categories
        a(href='/') Home
        a(href='/item') Items
    section
      block content
    footer
      p Report bug 
      p Training