doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Storefront
      input(type='text' placeholder='Search')
      p Sign In
    section
      block content
    footer
      p Privacy policy
      p Contact us 
      p About 
      p Jobs