* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 50px 12fr 50px;
  height: 100vh;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';

  section {
    grid-area: main;
  }
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: cornsilk;

  p {
    justify-self: end;
  }
}

footer {
  grid-area: footer;
  background-color: thistle;
  display: grid;
  grid-auto-flow: column;
}
